{:paths ["src" "resources"]
 :deps  {org.clojure/clojure         {:mvn/version "1.10.3"}
         scicloj/tablecloth          {:mvn/version "6.006"}
         generateme/fastmath         {:mvn/version "2.1.5"}
         scicloj/notespace           {:mvn/version "3-beta7"}
         techascent/tech.viz         {:mvn/version "6.00-beta-16-2"}
         org.scicloj/viz.clj         {:mvn/version "0.1.0-SNAPSHOT"}}}
